# Ignore node_modules directories
/api/node_modules
/api/dist
/api/.env
/ui/damba/node_modules
/ui/damba/dist
/ui/.env
node_modules
# Ignore operating system files
.DS_Store
aws.txt
/.metadata/
/api/.env

