# Ignore node_modules directories
/api/*/node_modules
/api/*/dist
/ui/*/node_modules
/ui/*/.angular
/ui/*/dist
/ui/*/.angular/cache/
/cicd/hold/
node_modules
# Ignore operating system files
.DS_Store
aws.txt
/.metadata/
