<button class="btn btn-primary mt-2" (click)="showModal()">Add entity</button>

<div
  class="modal fade"
  #createEntityModal
  tabindex="-1"
  aria-labelledby="addEntityModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEntityModalLabel">Add Entity</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-home-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-home"
              type="button"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
            >
              Entity
            </button>
            <button
              class="nav-link"
              id="nav-profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-profile"
              type="button"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
            >
              Atributes
            </button>
            <button
              class="nav-link"
              id="nav-contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-contact"
              type="button"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
            >
              Operation
            </button>
            <button
              class="nav-link"
              id="nav-disabled-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-disabled"
              type="button"
              role="tab"
              aria-controls="nav-disabled"
              aria-selected="false"
            >
              Styles
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
            tabindex="0"
          >
            <div class="mb-3 mt-3">
              <label for="entityName" class="form-label">Entity Name</label>
              <input
                type="text"
                class="form-control"
                id="entityName"
                [(ngModel)]="entity.entityName"
                name="entityName"
              />
            </div>
            <div class="mb-3 mt-3">
              <label for="Stereotype" class="form-label"> Stereotype </label>
              <input
                type="text"
                class="form-control"
                id="Stereotype"
                [(ngModel)]="entity.stereotype"
                name="Stereotype"
              />
            </div>
            <div class="mb-3">
              <label for="entityName" class="form-label">Visibility</label>
              <select
                class="form-select form-control"
                [(ngModel)]="entity.visibility"
                [ngModelOptions]="{standalone: true}"
              >
                <option *ngFor=" let item of visibilities" [value]="item">
                  {{ item }}
                </option>
              </select>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="entity.isAbstract"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Abstract
              </label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="entity.isAuth"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Authentication
              </label>
            </div>

            <div class="mb-3" *ngIf="entity.isAuth">
              <div class="mb-3">
                <label for="entityName" class="form-label">Username</label>
                <select
                  class="form-select form-control"
                  [(ngModel)]="entity.username"
                  [ngModelOptions]="{standalone: true}"
                >
                  <option
                    *ngFor=" let item of entity.attributes"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <label for="entityName" class="form-label">Password</label>
                <select
                  class="form-select form-control"
                  [(ngModel)]="entity.password"
                  [ngModelOptions]="{standalone: true}"
                >
                  <option
                    *ngFor=" let item of entity.attributes"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <!-- Add more form fields as needed -->
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
            tabindex="0"
          ></div>
          <div
            class="tab-pane fade"
            id="nav-contact"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
            tabindex="0"
          >
            ...
          </div>
          <div
            class="tab-pane fade"
            id="nav-disabled"
            role="tabpanel"
            aria-labelledby="nav-disabled-tab"
            tabindex="0"
          >
            ...
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addEntity()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
